# **3.1.1 VARIABLES**
- They are used to store data values in reserved memory locations.
- The variables are assigned using an equal sign (=) to a data type.
- The basic variables in Python comprises of numbers, lists, tuples, strings, and dictionaries.
## **Numbers**

The commonly used numbers consist of integers, floating point numbers and complex numbers.

In [1]:
mynum = 1# assigning an integer.
myfloat = 1.0# assigning a floating point.
mycomplex = 2+5j# assigning a complex number.
print(mynum)
print(myfloat)
print(mycomplex)

1
1.0
(2+5j)

## **Lists** ##

It is a collection of ordered elements separated by commas, enclosed in square brackets [ ].

In [2]:
a_list = [5, 6, 7, 8]# defining a list.

In [3]:
b_list = ['hai', 3.5, 10]# a list with different data types.
c_list = [5.8, [4,5,9], 15]# a nested list.

### **Extracting specific index values from a list** ###

In [4]:
d_list = [1,3,5,7]
print(d_list[2])# outputs the value 5.
print(d_list[-1])# outputs the value 7.
print(d_list[1:3])# output values [3, 5, 7].
e_list = [1,4,[8,12]]
print(e_list[2][1])# outputs the value 12 from the nested list.

5
7
[3, 5]
12

In [5]:
f_list = [2, 4, 6, 8, 10]
f_list[0]='hai'
print(f_list)# outputs the list ['hai', 4, 6, 8, 10]

['hai', 4, 6, 8, 10]

### **Add and remove elements from a list** ###

In [6]:
g_list = [10, 20, 30, 'first', 'second']
del g_list[4]
print(g_list)# outputs the list [10, 20, 30, 'first']
g_list.remove(20)# removes 20
print(g_list)
h_list = [1, 2, 3]
h_list.extend([4,5])# add each element to the list and extends it
print(h_list)
h_list.append([4,5])# adds one element to the end of the list
print(h_list)

[10, 20, 30, 'first']
[10, 30, 'first']
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, [4, 5]]

## **Tuples** ##
- All the elements of a tuple are placed inside parenthesis ( ) separated by commas.
- A tuple consists of ordered elements and it also allows different data types as its elements.

In [7]:
import sys
tuple_one = (3,6,7,1.9, 'hai', [3,4], (8,10,12))# defining a tuple.
list_one = [3,6,7,1.9, 'hai', [3,4], (8,10,12)]# defining a list.
print(sys.getsizeof(tuple_one)) #outputs the size of tuple in bytes.
print(sys.getsizeof(list_one)) #outputs the size of list in bytes.

96
112

### **Extracting specific index values from a tuple** ###

In [8]:
tuple_two= 4, 3
u,v=tuple_two
print(u)# outputs 4.
print(v)# outputs 3.
tuple_three = (5,6,7, 8, 9,10, 11)
print(tuple_three[0])# outputs 5.
print(tuple_three[3:5])# outputs (8, 9, 10).
tuple_three[0] = 2# It causes an error since the elements in a tuple cannot be changed once its created.

4
3
5
(8, 9)

TypeError: 'tuple' object does not support item assignment

## **Strings** ##
- These are sequences of characters enclosed using single or double quotes.
- The character at each index position can be extracted by using square brackets [ ].

In [9]:
a = 'hai'# defining a string
b = "hai"

### **Extracting specific index values from a string** ###

In [10]:
str_one = 'welcome'
str_two = 'all'
str_three = str_two[0]# extracts the character 'a' in the zeroth position.
str_four = str_one + str_two
print(str_four)# outputs the concatenation of two strings 'welcomeall'.

welcomeall

## **Sets** ##
- It represents a group of unordered elements separated by commas inside curly braces { } without any duplicates.
- A set can have any number of elements belonging to different immutable data types (integer, float, string, tuple, boolean) whereas mutable data types (lists, dictionaries, sets) generate an error.
- It does not allow slicing and indexing since there is no order associated with the elements.

In [11]:
set_item = {3,66,87,5,448}# defining a set.
set_item1 = {5, 4.2, 'hai', True, (1, 2, 3)}# set with immutable data types.
set_item2 = {1, 4, [7, 9]}# Here [7,9] is a list which is a mutable data type and hence it will cause an error.

TypeError: unhashable type: 'list'

## **Dictionaries** ##
- It is a collection of elements represented as key-value pairs separated using the colon operator and placed inside curly braces { }.
- Each element is separated by commas and has a key and a corresponding value associated with it.
- The curly braces without any elements correspond to an empty dictionary.

In [12]:
diction = {'number':23, 'name':'Tom','age': 16}# defining a dictionary
the_diction = {}# empty dictionary

In [13]:
print(diction['age'])# outputs the corresponding value, which is 16.
diction['name'] = 'Harry'
print(diction)# outputs the new dictionary {'number':23,'name':'Harry','age': 16}.
del diction['age']
print(diction)# outputs the new dictionary {'number':23,'name':'Harry'}.
print(diction.pop('name'))# outputs 'Harry' and removes it from the dictionary.

16
{'number': 23, 'name': 'Harry', 'age': 16}
{'number': 23, 'name': 'Harry'}
Harry

## **Example 3.1.1** ##
In this example, we learn how to manipulate lists and dictionaries.

Create a list, t1=['Germany', 'George', 'Sam', 'Italy', 30, 90].
- Extract the zeroth, second and fifth element from the given list and print them
- Add these elements to the keys in the the dictionary, diction1 = {'Country': [ ],'Name': [ ],'Age': [ ]}and print the dictionary.

In [14]:
t1=['Germany', 'George', 'Sam', 'Italy', 30, 90]
a = t1[0]
b = t1[2]
c = t1[5]
print(a)
print(b)
print(c)

Germany
Sam
90

In [15]:
diction1 = {'Country': [ ],'Name': [ ],'Age': [ ]}
diction1['Country'].append(a)
diction1['Name'].append(b)
diction1['Age'].append(c)
print(diction1)

{'Country': ['Germany'], 'Name': ['Sam'], 'Age': [90]}

## **3.1.2 STATEMENTS** ##
- Statements are the executable instructions written in the python source code.
- The different types of statements include print statements, assignment statements, conditional statements, etc.
- Multiline statements represents the line continuation using parentheses ( ), braces { }, square brackets [ ], semi-colon ;, continuation character slash \.

In [17]:
print('Welcome') #print statement
a = 10 #assignment statement
b = 1 + 2 + 3 + \
5 + 6 + 7 + \
8 +4 #multiline statement
elements = ['air','water', 'earth',
'wind', 'fire']

Welcome

## **INDENTATION** ##
- A block consists of a group of statements used for a defined task.Python uses indentation to indicate this block of code.
- Python uses whitespaces to indent the statements.
- The indentation moves the statements to the right using the same number of whitespaces for the same block of code.

In [18]:
if a < 0:
    print('Negative number')
elif a == 0:
    print('Neither positive nor negative')
else:
    print('Positive number')

Positive number

In [19]:
if 10 % 2 == 0:
    print('10 is divisible by 2')
        print('10 is a multiple of 2') #Indentation error

IndentationError: unexpected indent (2873703386.py, line 3)

## **COMMENTS** ##
- Single-line comments are denoted using the hash symbol # whereas, for multiline comments, the # is used before each line.  
- A multiline string enclosed in triple quotes either ''' or """ is yet another way to represent multiline comments.

In [20]:
#The hash symbol is used for single-line comments.
print('Welcome to Python Coding')
"""
The triple quotes denote a multiline comment. It is commonly used when we need to give a brief description of the code.
"""
print('Welcome to Python Coding')

Welcome to Python Coding
Welcome to Python Coding

## **3.1.3 CONDITIONAL STATEMENTS** ##
- Conditional statements are used for evaluating certain decisions while executing a program.
- The ‘if’ statement is used to evaluate whether the boolean expression is True or False. When the statement is False, the else or the elif statement is executed.

In [21]:
a = 1
if a == 2:
    print('Even prime number')
elif a == 3:
    print('Odd prime number')
else:
    print('Neither prime nor composite number')

Neither prime nor composite number

## **3.1.4 LOOPS** ##

### **For Loop** ###

In [22]:
for i in range(2):
    print(i) # outputs the numbers 0 and 1

0
1

In [23]:
for j in range(6,9):
    print(j) # outputs the numbers 6,7 and 8

6
7
8

In [24]:
for k in range(2,10,3):
    print(k) # outputs the numbers 2,5 and 8 since the range arguments consist of the start number, stop number, and the increment value.

2
5
8

### **While Loop** ###

In [25]:
a = 1
while a <= 5:
    print(a) #outputs numbers 1, 2, 3, 4 and 5
    a = a+1

1
2
3
4
5

In [26]:
num = [2,4,6,8,10]
for i in num:
    if i == 6:
        break
    print(i) #outputs numbers 2 and 4.

2
4

In [27]:
for k in range(5):
    if k == 3:
        continue
    print(k)# outputs numbers 0,1,2,4

0
1
2
4

In [28]:
seq = ['h','e','l','l','o']
for j in seq:
    pass #acts as a placeholder for code that will be implemented in the future since an empty for loop can generate an error.

## **Example 3.1.2** ##
In this example, we learn how to use nested for loops.

Use a nested 'for' loop to create a full diamond of stars '*'. Initialize n = 5 to create the diamond pattern.

In [29]:
n=5;

for i in range(n):
    for j in range(i, n):
        print (' ', end="")

    for k in range(2*i-1):
        print ('*', end="")
    print(' ')

for i in range(n,0,-1):
    for j in range(i, n):
        print (' ', end="")

    for k in range(2*i-1):
        print ('*', end="")
    print(' ')

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

## **3.1.5 FUNCTIONS** ##

In [30]:
def addition(a,b): #function name and parameters.
    out = a+b #function body.
    return  out #return value of the function.
a = 10
b = 40
out = addition(a,b)
print(out) #outputs the number 50.

50

In [31]:
global_name = 'Harrison' #variable with global scope.
def new_func():
    local_name = 'Harry'#variable with local scope.
    print(local_name)
new_func() #outputs Harry.
print(global_name) #outputs Harrison.

Harry
Harrison

## **3.1.6 CLASSES AND OBJECTS** ##
- Python uses an object-oriented programming model to design and represent a program using objects and classes.
- A class is a user-defined design of the object whereas an object is a group of variables and functions which forms an instance of the class.
- The body of a class consist of two main elements:
1. Attributes: It correspond to the properties of an object and methods are the functions that represent the behaviors of an object. For example, we can define class as a prototype of a smartphone, that has different attributes such as brand, color, camera, storage, etc.
2. Methods: It denotes the activities carried out using a smartphone such as making phone calls, sending text messages, playing games, etc and the object corresponds to the smartphone.

In [32]:
class Smartphone: #Defining the object.
    def __init__(self, brand,storage):
        self.brand=brand #Attribute defining the property of the object.
        self.storage=storage #Attribute defining the property of the object.

    def capacity(self): #Method defining the behaviour of the object.
        if self.storage >= 512:
            return 'Large Storage'
        elif (self.storage < 512) & (self.storage > 128):
            return 'Average Storage'
        else:
            return 'Low Storage'
phone1 = Smartphone('EyePhone',256)
space = phone1.capacity()

print(phone1.brand) #outputs 'EyePhone'.
print(phone1.storage) #outputs 256.
print(phone1.brand, ":",space) #outputs EyePhone : Average Storage.

EyePhone
256
EyePhone : Average Storage

## **Example 3.1.3** ##
Defining datasets using classes.

In [33]:
import numpy as np

class Data:
    def __init__(self, N, sigma):
        self.N=N #Number of data per cluster.
        self.sigma=sigma #standard deviation of the clusters.

    def data_xor(self, classes):
    # Generate 4*N random vectors (gaussian) centered around zero.
        X=self.sigma*np.random.randn(2,4*self.N)
        mean=np.array([[-1,-1, 1, 1],[-1,1,-1,1]]) # define four means
        M=np.ones((self.N,2))*mean[:,0] # Means of the first cluster
        y=np.ones((1,self.N))*classes[0] # Labels of the first cluster
        for i in range(1,4):
            m=np.ones((self.N,2))*mean[:,i] # Means of cluster i
            M=np.concatenate((M,m))     #Concatenate all means
            y=np.concatenate((y,np.ones((1,self.N))*classes[i]),axis=1) # concatenate labels
        M=M.T
        X=X+M # Add means to the data.
        return X,y

    def data_circle(self):
        theta=np.random.rand(1,self.N)*np.pi*2
        rho=np.random.randn(1,self.N)*self.sigma+1
        X1=rho*np.block([[np.cos(theta)],[np.sin(theta)]]) #circular data corresponding to class 1

        theta=np.random.rand(1,self.N)*2*np.pi
        rho=np.random.randn(1,self.N)*self.sigma+0.8
        X2=rho*np.block([[np.cos(theta)],[np.sin(theta)]])

        y=np.concatenate((0*np.ones((1,self.N)),np.ones((1,self.N))),axis=1) # labels
        X=np.concatenate((X1,X2),axis=1)
        return X,y
#The class definition ends here.

np.random.seed(30) # allows to reproduce the same results
N=100; sigma=0.6 #attributes for xor.
N1=250; sigma1=0.05 #attributes for circle.
classes=[0,1,1,0] #attribute for xor.
T=Data(N,sigma) #define the object corresponding to xor data.
T1=Data(N1,sigma1) #define the object corresponding to circle data.
X,y=T.data_xor(classes) #method with instance variable classes.
X1,y1=T1.data_circle() #method without any instance variable.
print(X.shape,y.shape,X1.shape,y1.shape)

(2, 400) (1, 400) (2, 500) (1, 500)